.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 680px;
    height: 100%;
    padding: 60px;
    background-color: white;
    text-align: left;
}

.title {
    display: inline-block;
    font-size: 2rem;
    border-bottom: 1px solid;
    margin-top: 30px;
    margin-bottom: 40px;
}

.title:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.category-list {
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
    padding: 5px;
}

.category-title {
    width: 70%;
}

.category-author {
    width: 15%;
}

.category-date {
    width: 15%;
}

.article {
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
    padding: 10px 5px 10px 5px;
    font-size: 1.4rem
}

.article:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.article-title {
    width: 70%;
    text-align: left;
}

.article-author {
    width: 15%;
}

.article-date {
    width: 15%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.pagination-item {
    width: 30px;
    height: 30px;
    transition: all ease-in-out 0.2s;
}

.pagination-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.page-number {
    font-size: 1.6rem;
    border-radius: 15px;
}

.gg-chevron-left::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.gg-chevron-right::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}