*:focus {
    outline: none;
}

input {
    font: inherit;
    font-size: 1.4rem;
    color: inherit;
    resize: none;
    border-style: solid;
    border-color: #d8d8d8;
    box-sizing: border-box;
}

#forum-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 680px;
    height: 100%;
    padding: 60px;
    background-color: white;
    text-align: left;
}

#forum-title {
    display: inline-block;
    font-size: 2rem;
    border-bottom: 1px solid;
    margin-top: 50px;
    margin-bottom: 30px;
}

#forum-title:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

#search-container {
    text-align: right;
    margin-bottom: 20px;
}

.gg-search {
    display: inline-block;
    color: gray;
    --ggs: 0.9;
}

#search {
    margin-bottom: 1px;
    margin-right: 10px;
}

#search:hover {
    cursor: pointer;
    color: skyblue;
}

#search-keyword {
    width: 120px;
    height: 25px;
}

.category-list {
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
    padding: 5px;
}

.category-title {
    width: 70%;
}

.category-author {
    width: 15%;
}

.category-date {
    width: 15%;
}

.post {
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
    padding: 10px 5px 10px 5px;
    font-size: 1.4rem
}

.post:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.post-title {
    width: 70%;
    text-align: left;
}

.post-author {
    width: 15%;
}

.post-date {
    width: 15%;
}

#write-post-container {
    text-align: right;
}

#write-post {
    width: 70px;
    height: 30px;
    margin-top: 25px; 
    border: none;
    border-radius: 1px;
    color: #f2f2f2;
    font-size:  1.3rem;
    font-family: inherit;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #2e4361; 
}

#write-post:hover {
    cursor: pointer;
}

#pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination-item {
    width: 30px;
    height: 30px;
    transition: all ease-in-out 0.2s;
}

.pagination-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.active {
    background-color: #f2f2f2;
}

.page-number {
    font-size: 1.6rem;
    border-radius: 15px;
}

.gg-chevron-left::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.gg-chevron-right::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}