button {
    color: #d8d8d8;
    background-color: #2e4361; 
    border: none;
    border-radius: 1px;
    font-size:  1.3rem;
    font-family: inherit;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    transition: color ease-in-out 0.2s;
}

button:hover {
    cursor: pointer;
    color: #2e4361;
    background-color:  #d8d8d8; 
}

button:active {
    background-color:  #b2b2b2;
}

*:focus {
    outline: none;
}

textarea {
    font: inherit;
    font-size: 1.4rem;
    color: inherit;
    resize: none;
    border-color: #d8d8d8;
    box-sizing: border-box;
}

#post-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 680px;
    min-height: calc(100vh - 200px);
    padding: 125px 60px 60px 60px;
    background-color: white;
    text-align: left;
}

#forum-title {
    display: inline-block;
    font-size: 2.4rem;
    border-bottom: 1px solid;
}

#forum-title:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

#post-main {
    margin-top: 30px;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}

#post-title {
    display: flex;
    border-bottom: 2px solid;
    border-color: #2e4361;
    font-size: 2rem;
}

.post-info {
    margin-top: 15px;
    font-size: 1.4rem;
}

.post-info-date {
    margin-left: 10px;
    color: gray;
}

.gg-time {
    display: inline-block;
    --ggs: 0.8;
}

#post-text {
    margin-top: 20px;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 1.6rem;
    word-break: break-all;
}

#post-actions {
    margin: 15px auto;
    text-align: right;
}

#comments {
    margin-top: 20px;
}

#comments-count {
    font-size: 1.8rem;
}

.comment {
    font-size: 1.4rem;
}

.comment:not(:first-child) {
    margin-top: 30px;
}

.comment:not(:last-child) {
    margin-bottom: 30px;
}
 
.reply {
    margin-left: 30px;
}

.comment-info {
    background-color: #d8d8d8;
    border-radius: 8px;
    padding: 3px 8px 3px 8px;
}

.comment-info::after {
    content: '';
    display: block;
    clear: both;
}

.comment-author {
    float: left;
}

.comment-date {
    float: right;
}

.comment-actions {
    text-align: right;
}

.action-button {
    width: 45px;
    height: 25px;
    margin-left: 5px;
    font-size: 1.2rem;
}

.comment-text {
    word-break: break-all;
    padding: 3px 8px 3px 8px;
}

.reply-container {
    margin-left: 30px;
    text-align: right;
}

.reply-text {
    width: 100%;
    height: 120px;
}

#write-comment-container {
    display: flow-root;
    margin-top: 30px;
    background-color: #f2f2f2;
}

.write-comment-item {
    margin: 25px 0 15px 0;
    text-align: center;
}

.write-comment-item:last-child {
    margin-top: 0;
}

#write-comment-text {
    width: 80%;
    height: 200px;
}

#write-comment {
    width: 70px;
    height: 30px;
}